@import "../../styles/colors.css";
@import url("../../styles/fonts.css");

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.contact-heading {
  background-color: var(--primary-color);
  padding: 10px;
  font-size: 36px;
  text-align: center;
  width: 100%;
  font-family: "OwnersNarrow-Medium", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

form {
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
}
