@import "../../styles/colors.css";
@import url("../../styles/fonts.css");

.property-list-container {
  padding: 20px;
}

.property-list-row {
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.property-list-col {
  display: flex;
  justify-content: center;
  width: 30rem;
  align-items: center;
}

.property-card {
  width: 25rem;
  margin-bottom: 2px;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-size: 24px;
  font-family: "Gotham-Bold", sans-serif;
  color: var(--primary-color);
}

.card-text {
  font-family: "OwnersNarrow-Medium", sans-serif;
  color: var(--primary-color);
}
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination > .page-link {
  color: #ff9700;
}

.pagination > .page-item.active .page-link {
  background-color: #ff9700;
  border-color: #ff9700;
  color: #fff;
}

.pagination > .page-item:hover .page-link {
  background-color: #ff9700;
  border-color: #ff9700;
  color: #fff;
}
