@import "../../styles/colors.css";

.home {
  display: flex;
  justify-content: center; /* Horizontally centers content */
  align-items: center; /* Vertically centers content, if needed */
  background-color: var(--accent-color);
  width: 100%;
}

@media (max-width: 767px) {
  .home {
    padding: 20px;
  }
}
