@import "../../styles/colors.css";

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  width: 100%;
}

@media (max-width: 767px) {
  .home {
    padding: 20px;
  }
}
